:root{
	box-sizing: border-box;
	font-size: calc(0.05em + 1vw);
}

*, ::before, ::after{
	box-sizing: inherit;
}

body{
	margin: 0;
	background-color: rgb(255, 255, 255);
	font-family: 'Poppins';
}

.app-container{
	display: grid;
	grid-template-rows: 1fr 13fr;
	justify-content: center;
	width: 100%;
	height: 1vh;
}

.app-header{
	display: grid;
	grid-template-columns: 1fr 5fr 1fr;
	width: 100%;
	padding: 0;
	height: 8vh;
	justify-items: center;
	align-items: center;
	background-color: #333333;
}

.logo-app{
	margin: 0 auto;
	text-align: center;
	background-color: #ffffff;
	width: 90%;
	height: 80%;
	display: flex;
	align-items: center;
	border-radius: 0 0 0.5em 0.5em;
	box-shadow: 1px 1px 5px #000000;
	align-self: start;
	transition: 0.3s all;
}
.logo-app:hover{
	box-shadow: 1px 1px 10px #000000;
	height: 85%;
}

.logo-app > a >img{
	width: 30%;
	transition: 0.2s all;
}

.search-form{
	justify-self: left;
	width: 60%;
	margin: 0 auto;
}

.search-form > input[type="text"]{
	width: 30%;
	padding: 0.5em 1em;
	font-size: 0.75rem;
	border-radius: 2em;
	border: none;
	outline: none;
	transition: 0.3s all;
	background-color: #555555;
	color: #c3dbf9;
	
}

.search-form > input[type="text"]::placeholder{
	color: #c3dbf9;
}

.search-form > input[type="text"]:focus{
	width: 80%;

}

.app-body{
	display: grid;
	grid-template-columns: 2fr 12fr;
	background-color: #ffffff;
	height: 92vh;
}

.app-menu > ul > li > a{
	text-decoration: none;
	color: #555555;
	font-size: 1em;
	background-color: #efefef;
	border-radius: 0 0.3em 0.3em 0;
	width: 90%;
	height: 100%;
	padding: 0.7em;
	margin: 0;
	display: flex;
	align-items: center;
	transition: 0.2s all;
}

.app-menu > ul > li > a:hover{

	background-color: #8a8a8a;
	color: #ffffff;
}

.app-menu > ul > li{
	list-style: none;
	height: 3em;
	display: flex;
	align-items: center; 
	margin: 1.5em 0;
	text-align: center;
}

.app-menu > ul{
	padding: 0;
	width: 100%;
}

.menu{
	background-color: #fbfbfb;

}

.selected-menu{
	background-color: #8a8a8a !important;
	color: #ffffff !important;
	width: 100% !important;
	padding-left: 2em !important;
}

.upload-btn{
	border: none;
	cursor: pointer;
	border-radius: 0 5px 5px 0;
	transition: 0.2s;
	width: 90%;
	padding: 0.8em;
	color: #fff;
	font-size: 1em;
	text-decoration: none;
	text-align: center;
	background-color: #3babdf;
}

.upload-btn:hover{
	background-color: #238ebf;
	width: 100%;
}

.upload-container{
	width: 100%;
	padding: 2em 0 1em;
}

.document-viewer{
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-gap: 0.75em;
	padding: 2em;
	align-items: center;
	justify-content: center;
	justify-items: center;
	overflow-y: scroll;
}

.element{
	background-color: #dedede;
	border-radius: 5px;
	width: 13em;
	height: 13em;
	display: grid;
	grid-template-rows: 1fr 7fr 1fr;
}

.name{
	width: 100%;
	text-align: center;
	font-size: 0.8em;
	margin: 1rem 0 0;
	font-weight: 700;
	color: #444;
}

.nav-button{
	display: flex;
	align-items: center;
	justify-content: center;
	color: #f7f7f7;
	font-size: 6em;
	text-align: center;
	border: none;
	background-color: transparent;
	outline: none;
	cursor: pointer;
	transition: 0.3s all;
}

.options{
	display: flex;
	justify-content: space-around;
	background-color: #eeeeee;
	border-radius: 0 0 5px 5px;
	padding: 0.5em;
	width: 100%;
}

.option{
	border: none;
	cursor: pointer;
	font-size: 1.2em;
	background-color: transparent;
	border-radius: 3px; 
	color: #444;
	transition: 0.3s all;
	outline: none;
}

.option:hover{
	color: #888;
}

.option:focus{
	color: #000000;
}

.red{
	color: #e00;
}

.orange{
	color: #f50;
}

.green{
	color: #0a0;
}

.blue{
	color: #3898ff;
}

.yellow{
	color:#ffef77;
}

.grey{
	color: #adadad;
}

.white{
	color: #ffffff;
}

.red:hover{
	color: #c00;
}

.orange:hover{
	color: #d40;
}

.green:hover{
	color: #070;
}

.blue:hover{
	color: #227ad8;
}

.yellow:hover{
	color: #ffea4f;
}

.grey:hover{
	color: #a0a0a0;
}

.white:hover{
	color: #f2f2f2;
}

.new-folder{
	background-color: transparent;
	border-radius: 5px;
	width: 13em;
	height: 13em;
	display: grid;
	grid-template-rows: 7fr 3fr;
	border: dashed 0.3em #adadad;
	align-items: center;
	justify-items: center;
	cursor: pointer;
	color: #adadad;
	transition: 0.3s all;
}

.icon-folder{
	font-size: 6em;
	align-self: end;
}

.new-f-text{
	font-weight: 700;
	margin-top: 0;
}

.new-folder:hover{
	color: #838383;
	border-color: #838383;
	background-color: #efefef; 
}