:root{
	box-sizing: border-box;
	font-size: calc(0.05em + 1vw);
}

*, ::before, ::after{
	box-sizing: inherit;
}

body{
	margin: 0;
	background-color: rgb(255, 255, 255);
	font-family: 'Poppins';
}

.app-container{
	display: grid;
	grid-template-rows: 1fr 13fr;
	justify-content: center;
	width: 100%;
	height: 1vh;
}

.app-header{
	display: grid;
	grid-template-columns: 1fr 5fr 1fr;
	width: 100%;
	padding: 0;
	height: 8vh;
	justify-items: center;
	align-items: center;
	background-color: #333333;
}

.logo-app{
	margin: 0 auto;
	text-align: center;
	background-color: #ffffff;
	width: 90%;
	height: 80%;
	display: flex;
	align-items: center;
	border-radius: 0 0 0.5em 0.5em;
	box-shadow: 1px 1px 5px #000000;
	align-self: start;
	transition: 0.3s all;
}
.logo-app:hover{
	box-shadow: 1px 1px 10px #000000;
	height: 85%;
}

.logo-app > a >img{
	width: 30%;
	transition: 0.2s all;
}

.search-form{
	justify-self: left;
	width: 60%;
	margin: 0 auto;
}

.search-form > input[type="text"]{
	width: 30%;
	padding: 0.5em 1em;
	font-size: 0.75rem;
	border-radius: 2em;
	border: none;
	outline: none;
	transition: 0.3s all;
	background-color: #555555;
	color: #c3dbf9;
	
}

.search-form > input[type="text"]::placeholder{
	color: #c3dbf9;
}

.search-form > input[type="text"]:focus{
	width: 80%;

}

.app-body{
	display: grid;
	grid-template-columns: 2fr 12fr;
	background-color: #ffffff;
	height: 92vh;
}

.app-menu > ul > li > a{
	text-decoration: none;
	color: #555555;
	font-size: 1em;
	background-color: #efefef;
	border-radius: 0 0.3em 0.3em 0;
	width: 90%;
	height: 100%;
	padding: 0.7em;
	margin: 0;
	display: flex;
	align-items: center;
	transition: 0.2s all;
}

.app-menu > ul > li > a:hover{

	background-color: #8a8a8a;
	color: #ffffff;
}

.app-menu > ul > li{
	list-style: none;
	height: 3em;
	display: flex;
	align-items: center; 
	margin: 1.5em 0;
	text-align: center;
}

.app-menu > ul{
	padding: 0;
	width: 100%;
}

.menu{
	background-color: #fbfbfb;

}

.selected-menu{
	background-color: #8a8a8a !important;
	color: #ffffff !important;
	width: 100% !important;
	padding-left: 2em !important;
}

.upload-btn{
	border: none;
	cursor: pointer;
	border-radius: 0 5px 5px 0;
	transition: 0.2s;
	width: 90%;
	padding: 0.8em;
	color: #fff;
	font-size: 1em;
	text-decoration: none;
	text-align: center;
	background-color: #3babdf;
}

.upload-btn:hover{
	background-color: #238ebf;
	width: 100%;
}

.upload-container{
	width: 100%;
	padding: 2em 0 1em;
}

.document-viewer{
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-gap: 0.75em;
	padding: 2em;
	align-items: center;
	justify-content: center;
	justify-items: center;
	overflow-y: scroll;
}

.element{
	background-color: #dedede;
	border-radius: 5px;
	width: 13em;
	height: 13em;
	display: grid;
	grid-template-rows: 1fr 7fr 1fr;
}

.name{
	width: 100%;
	text-align: center;
	font-size: 0.8em;
	margin: 1rem 0 0;
	font-weight: 700;
	color: #444;
}

.nav-button{
	display: flex;
	align-items: center;
	justify-content: center;
	color: #f7f7f7;
	font-size: 6em;
	text-align: center;
	border: none;
	background-color: transparent;
	outline: none;
	cursor: pointer;
	transition: 0.3s all;
}

.options{
	display: flex;
	justify-content: space-around;
	background-color: #eeeeee;
	border-radius: 0 0 5px 5px;
	padding: 0.5em;
	width: 100%;
}

.option{
	border: none;
	cursor: pointer;
	font-size: 1.2em;
	background-color: transparent;
	border-radius: 3px; 
	color: #444;
	transition: 0.3s all;
	outline: none;
}

.option:hover{
	color: #888;
}

.option:focus{
	color: #000000;
}

.red{
	color: #e00;
}

.orange{
	color: #f50;
}

.green{
	color: #0a0;
}

.blue{
	color: #3898ff;
}

.yellow{
	color:#ffef77;
}

.grey{
	color: #adadad;
}

.white{
	color: #ffffff;
}

.red:hover{
	color: #c00;
}

.orange:hover{
	color: #d40;
}

.green:hover{
	color: #070;
}

.blue:hover{
	color: #227ad8;
}

.yellow:hover{
	color: #ffea4f;
}

.grey:hover{
	color: #a0a0a0;
}

.white:hover{
	color: #f2f2f2;
}

.new-folder{
	background-color: transparent;
	border-radius: 5px;
	width: 13em;
	height: 13em;
	display: grid;
	grid-template-rows: 7fr 3fr;
	border: dashed 0.3em #adadad;
	align-items: center;
	justify-items: center;
	cursor: pointer;
	color: #adadad;
	transition: 0.3s all;
}

.icon-folder{
	font-size: 6em;
	align-self: end;
}

.new-f-text{
	font-weight: 700;
	margin-top: 0;
}

.new-folder:hover{
	color: #838383;
	border-color: #838383;
	background-color: #efefef; 
}


/* Pag Configuracion*/
.config-body{
	overflow-y: hidden;
	
}
.config-header{
	padding: 0 6em;
	color:#000000;
	padding: 1em 0;
	background-color: #EEEEEE; 
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	box-shadow: 0 4px 2px -2px #969696;
	top:0;
	left: 0;
	
	width: 100%;

}
.config-header a{
	
	text-decoration: none;
	color:#000000;
	
}
.config-container{
	display: grid;
	grid-template-columns: repeat(2, 15% 85%);
	height: 1vh;

}
.config-aside{
	margin-top: 0.5em;
	padding-top: 2em;
	border-right: 1px solid #EEEEEE;
	height: 200%;
	
}
.config-aside nav ul{

	text-align: center;
	list-style: none;
}
.config-aside nav ul li{
	margin-top: 1.5em; 

}
.config-aside nav ul li a{

	text-decoration: none;
	color:#000000;
}
.config-aside nav ul li a:hover{
	transition: 0.3s all;
	
	color: blue;
}
.config-section{
	padding: 4em;
	

    overflow-y: hidden;
    height: 20em;
  
	
}
.config-section div{
	height: 30em;
}
.config-section div h3{
	padding-top:2em;
}
.config-section div label{
	margin-top: 1em;

}
.config-section div input {
	width: 40%;
	
	box-shadow: #AFAFAF 1px 1px 5px;
	height: 40px;
	 border-radius: 3px;
	 border: none;
	 padding-left: 1%;

}

#config-detalle{
	display: flex;
	flex-direction: column;
	
}
#config-perfil{
	display: flex;
	flex-direction: column;
	
}

#config-privacidad{
	display: flex;
	flex-direction: column;
	

}

}
/* 
.config-body{
	margin: 0;
	padding: 0;
	overflow: hidden;

	
}
.config-header{
	padding: 0 6em;
	color:#000000;
	padding: 1em 0;
	background-color: #EEEEEE; 
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	box-shadow: 0 4px 2px -2px #969696;
	top:0;
	left: 0;
	
	width: 100%;

}
.config-header a{
	
	text-decoration: none;
	color:#000000;
	
}
.config-aside{
	top: 6em;
	left: 0;
	position: absolute;
	margin-top: 1em;
	float: left;
	border-right: 1px solid #EEEEEE;
	width: 16%;
	
	
	height: 85%;
}
.config-aside nav ul{

	text-align: center;
	list-style: none;
}
.config-aside nav ul li{
	margin-top: 1em; 

}
.config-aside nav ul li a{

	text-decoration: none;
	color:#000000;
}
.config-aside nav ul li a:hover{
	transition: 0.3s all;
	
	color: blue;
}
.config-section{
	height: 1vh;
	padding-top: 6em;

	    display: grid;
    
    grid-template-rows: repeat(1, 100%);
   
    padding: 2em;
    
    overflow-y: scroll;
	
}
#config-detalle{
	padding: 1em 2rem;
	height: 1000px;
		
}
#config-perfil{
	padding: 1em 2rem;
	display: flex;
	flex-direction: column;
}
#config-perfil input{
	width: 40%;

}
#config-privacidad{
	padding: 1em 2em;
	display: flex;
	flex-direction: column;
	


}
#config-privacidad input{
	width: 40%;
	height: 34px;
	 border-radius: 3px;
  border: 1px solid transparent;
  border-top: none;
  border-bottom: 1px solid #DDD;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
}
#config-privacidad label{
	margin-top: 1em;
}
*/

.menu-header{
	display: flex;
	justify-content: flex-end;
	list-style: none;
}

.menu-header li{
	padding: 0 1em;
}

.menu-header li a{
	text-decoration: none;
	color: #fff;
	
}

.menu-header li a:hover{
	transition: all 0.3s ease-out;
	text-decoration: underline;
	text-decoration-color: #c3dbf9;
	color: #c3dbf9;
}

.menu-opciones{
	display: flex;
	width: 100%;
}

.menu-opciones nav{
	width: 100%;
}

.search-form{
	display: flex;
	align-items: center;
	width: 100%;
	margin: 0 2em;
}