:root{
	box-sizing: border-box;
	font-size: calc(0.05em + 1vw);
}

*, ::before, ::after{
	box-sizing: inherit;
	font-family: 'Poppins'
}
body{
	margin: 0;
	background-color: rgb(255, 255, 255);
}

.app-container{
	display: grid;
	grid-template-rows: 1fr 8fr;
	justify-content: center;
	width: 100%;
	padding: 1rem;
}

.app-header{
	display: grid;
	grid-template-columns: 1fr 6fr 1fr;
	width: 100%;
	padding: 0;
	height: 110px;
	justify-items: center;
	align-items: center;
}

.logo-app{
	margin: 0 auto;
	text-align: center;
}

.logo-app > a >img{
	width: 40%;
	transition: 0.2s all;
}

.logo-app:hover > a >img{
	width: 42%;
}

.search-form{
	width: 100%;
	text-align: center;
}

.search-form > input[type="text"]{
	width: 60%;
	padding: 0.5em;
	font-size: 1rem;
	border-radius: 2em;
	border: 1px solid #afafaf;
}

.app-body{
	display: grid;
	grid-template-columns: 1fr 8fr;
}

/*body{
	background-color: #FFFFFF;
}
body header{
	padding: 0 10%;
}
body header ul {
	display: grid;
	grid-template-columns: repeat(3, 33%);
	align-items: center;
	justify-content: center;
	list-style: none;
	align-self: center;
	justify-self: center;
	position: center;

}
body header ul li{
	align-self: center;
	justify-self: center;
}
body header ul li input{
	background-color: #F5F5F5;
	border:none;
	border-radius: 20px;
	width: 400px;
	height: 40px;
	padding-left: 5%;
}
.fas.fa-cog{
	color:black;
	font-size: 1.5rem;
}
.MenuIzquierda{
	margin: 0 auto 0 auto;
	width: 20%;
	float: left;
	background-color: #FFFFFF;
	padding: 0;
	

}

.MenuIzquierda section nav ul{
	list-style: none;
}
.MenuIzquierda section nav ul li{

	margin-top: 5%;
}
.MenuIzquierda section nav ul li a{
	

	
	text-decoration: none;
	color: black;
}
.EspacioUtilizado{

}
.Seccion1{
	float: right;
	width: 80%;
	text-align: center;
}
.Seccion1 nav{
	margin-top: 5%;
	padding: 0 5%;
}
.Seccion1 nav ul{

	display: flex;
	flex-direction: row;
	list-style: none;
	justify-content: space-between;

}
*/