doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(href='https://fonts.googleapis.com/css?family=Poppins', rel='stylesheet')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.5.0/css/all.css', integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU', crossorigin='anonymous')
    link(rel='stylesheet', type='text/css', href='/stylesheets/style-AcercaDe.css')
    title Sultral - Acerca de Sultral
  body
    header
      p
        a(href='')
          img(src='/images/logo_sultral.png', alt='SULTRAL')
      nav
        ul
          li
            a(href='') Iniciar Sesión
          li
            a(href='') Crear Cuenta
    section.container
      img(src='/images/logo_sultral.png', alt='Sultral')
      article.container1
        .container
          h1 Sultral - Gestor de Archivos
          p AÑADE Y COMPARTE CON TUS AMIGOS LOS ARCHIVOS QUE QUIERAS
          p
            | Sutral es un servicio de alojamiento de archivos. Acá podrás almacenar cada uno de tus archivos,
            | acceda a ellos en cualquier momento y lugar. Marcar tus favoritos y compartir con tus contactos.
      article.container2
        div
          .container3
            .icono
              i.fas.fa-sign-in-alt
            div
              h4 Iniciar Sesión
              p
                | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam, provident sequi saepe quia,
                | vero culpa nemo soluta quasi ab blanditiis earum. Dicta, iste consectetur necessitatibus
                | vitae quod eum eos possimus?
          .container3
            .icono
              i.far.fa-user-circle
            div
              h4 Crear Cuenta
              p
                | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos corporis reprehenderit facilis
                | possimus, sunt suscipit repellendus optio deleniti, provident earum alias officiis debitis?
                | Dolorem voluptatum provident veritatis numquam, incidunt facilis!
        div
          .container3
            .icono
              i.fas.fa-share-alt
            div
              h4 Compartir con amigos
              p
                | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit non harum rerum enim. Nisi,
                | iusto quaerat, in atque consectetur ducimus blanditiis cumque nam temporibus iure molestiae
                | sint culpa impedit libero.
          .container3
            .icono
              i.fas.fa-folder-plus
            div
              h4 Subir Archivos
              p
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga consequuntur dolores nesciunt,
                | repellendus minima sed iure perferendis molestias adipisci molestiae accusamus doloremque
                | minus quia similique necessitatibus quas nisi quidem! Accusantium.