extends layout
block content
    section.container8
      img(src='/images/logo_sultral.png', alt='Sultral')
      article.container11
        .container8
          h1 Sultral - Gestor de Archivos
          p AÑADE Y COMPARTE CON TUS AMIGOS LOS ARCHIVOS QUE QUIERAS
          p
            | Sutral es un servicio de alojamiento de archivos. Acá podrás almacenar cada uno de tus archivos,
            | acceda a ellos en cualquier momento y lugar. Marcar tus favoritos y compartir con tus contactos.
      article.container21
        div
          .container31
            .icono
              i.fas.fa-sign-in-alt
            div
              h4 Iniciar Sesión
              p
                | Mientras no cierres la sesión, tu podrás entrar directamente a tus archivos
                | con un solo botón sin llenar tus datos.               
          .container31
            .icono
              i.far.fa-user-circle
            div
              h4 Crear Cuenta
              p
                | ¿Te gustaría unirte a nuestro gestor de archivos? no lo pienses más,
                | es fácil y sencillo. Llena el formulario y empieza a disfrutar de todos
                | los servicios que Sultral te ofrece.
        div
          .container31
            .icono
              i.fas.fa-share-alt
            div
              h4 Compartir con amigos
              p
                | Todo es mejor si lo compartes. Sultral te ofrece poder compartir los archivos que
                | quieras con tu lista de contactos.
          .container31
            .icono
              i.fas.fa-folder-plus
            div
              h4 Subir Archivos
              p
                | Organiza de la manera que quieras tus fólderes y archivos.
                | Tienes 2GB de almacenamiento para subir cualquier tipo de documento a tu gestor.