doctype html
head
  title=title
  meta(charset='utf-8')
  link(rel='stylesheet', type='text/css', href='stylesheets/Style2.css')
  link(href='https://fonts.googleapis.com/css?family=Poppins:400,700', rel='stylesheet')
header
  .config-header
    p CONFIGURACIONES
    a(href='Gestor')  Regresar
.config-container
  aside.config-aside
    section
      nav
        ul
          li
            a(href='../../ConfigDetalle') Detalle
          li
            a(href='../../ConfigInfoUsuario') Perfil
          li
            a(href='../../ConfigPrivacidad') Privacidad
    
  block content