extends ConfigLayout
block content
    section.config-section
        #config-privacidad
            h3  Privacidad 
            form#formulario-ActualizarContrasenia(method='POST')
                label(for='nueva') Contraseña nueva: 
                input(type='text', name='nueva', placeholder='**********')
                label(for='confirmacion') Confirmar contraseña nueva: 
                input(type='text', name='confirmacion', placeholder='**********')
                input(type='submit', value='Enviar')
                .error=err