extends ConfigLayout
block content
    section.config-section
        #config-privacidad
            h3  Contactos
            form#formulario-Contacto(method='POST')
                label(for='Contacto')  Buscar contacto:
                input#Nombre(type='text', name='Contacto', placeholder='Usuario123')
                input(type='submit', value='Buscar')
                .error=err
                .aceptado=acept
                #contenido
                script.
                    function genera_tabla() {
                        var body = document.getElementById("contenido");
                        
                            // Crea un elemento <table> y un elemento <tbody>
                           

                            var tabla   = document.createElement("table");
                            var tblBody = document.createElement("tbody");
                            
                            var rows =  JSON.parse('#{FilasBD}'.replace(/&quot;/g,'"'));
                            
                            // Crea las celdas
                            for (var i = 0; i < rows.length;  i++) {
                            // Crea las hileras de la tabla
                                var fila = document.createElement("tr");
                                var textoCelda = document.createTextNode(rows[i].user);
                                var formulario = document.getElementById("formulario-Contacto");
                                for (var j = 0; j < 2; j++) {
                                // Crea un elemento <td> y un nodo de texto, haz que el nodo de
                                // texto sea el contenido de <td>, ubica el elemento <td> al final
                                // de la hilera de la tabla
                                    var celda = document.createElement("td");
                                    celda.style.padding ="2em";
                                    celda.style.textAlign = "center";
                                    celda.style.borderBottom= "1px solid";
                                    if(j == 1){
                                        var boton="boton";
                                        contador = j
                                        var a = document.createElement("a");
                                        
                                         a.style.padding = "1rem 2rem";
                                        a.style.textDecoration = "none";
                                        a.style.backgroundColor = "#16941a";
                                        a.style.color ='white';
                                        a.style.borderRadius = '5px';
                                        a.style.boxShadow = '#AFAFAF 1px 1px 10px';
                                        

                                        document.getElementsByTagName('head')[0].appendChild(style);
                                        a.href = 'ConfigContacto/'+rows[i].user;

                                        var x = document.createTextNode("Agregar");


                                        /*var x = document.createElement("INPUT");
                                        x.setAttribute("type", "submit");
                                        x.setAttribute("id", i );
                                        x.setAttribute("value", "agregar");
                                        x.setAttribute("name", rows[i].user);
                                        x.style.width ='100%';
                                        x.style.margin ='10% 0 10% 0';*/
                                        
                                        a.appendChild(x);

                                        celda.appendChild(a);
                                        fila.appendChild(celda);
                                        celda.setAttribute("width","300px");
                                    }else{
                                    celda.appendChild(textoCelda);
                                    fila.appendChild(celda);
                                    }
                                }
                        
                            // agrega la hilera al final de la tabla (al final del elemento tblbody)
                                tblBody.appendChild(fila);
                                
                            }
                            tabla.style.borderRadius = '10px';
                            tabla.style.boxShadow = "#AFAFAF 1px 1px 10px";
                            // posiciona el <tbody> debajo del elemento <table>
                            tabla.appendChild(tblBody);
                            // appends <table> into <body>
                            
                            body.appendChild(tabla);
                            // modifica el atributo "border" de la tabla y lo fija a "2";
                            
                            
                            
                        }

                        genera_tabla();
                    
                        
