extends ConfigLayout
block content
    section.config-section
        #config-privacidad
            h3  Informacion general
            form#formulario-ActualizarContrasenia(method='POST')
                label(for='Nombre/s')  Nombre/s:
                input#Nombre(type='text', name='Nombre', placeholder='Lorenzo Fernando')
                label(for='Apellido/s')  Apellido/s:
                input#Apellido(type='text', name='Apellido', placeholder='Pleitez Enrique')
                label(for='FechaNac')  Fecha de Nacimiento:
                input#FechaNac(type='Date', name='FechaNac')
                label(for='correo') Correo: 
                input#correo(type='text', name='correo', placeholder='User123@hotmail.com')
                input(type='submit', value='Enviar')
                .error=err
                .aceptado=acept







        