extends layout
block content
    section.container5
      .contactanos-box
        form.formulario-contactanos(method="post")
          h2 Contáctanos
          p Rellena el formulario y en breve nos pondremos en contacto contigo vía email.
          label(for='nombre') Nombre:
          input#Nombre.r-input(type='text', name='nombre' placeholder="Juan Rodrigo", required)
          label(for='apellido') Apellido:
          input#Apellido.r-input(type='text', name='apellido' placeholder="Lopez Yanes", required)
          label(for='correo') Correo:
          input#correo.r-input(type='email', name='correo' placeholder="AlgunCorreo@hotmail.com", required)
          label(for='motivo') Motivo:
          input#Motivo.r-input(type='text', name='motivo', placeholder="Motivo del correo" required)
          label(for='mensaje') Mensaje:
          textarea#mensaje.r-input(name='mensaje', placeholder="Cuerpo del mensaje", required)
          input.btn-azul2(type='submit', value='Enviar')
          .error=err
          .aceptado=acept