extends layout

block content
  section.Seccion1
    img(src="images/logo_letrasB.png", alt="Logo", class="logo-main")
    h3(style='font-size: 2.5rem;') ¡Comparte tus archivos con todo el mundo!
    a.custom-btn.btn-azul(href='/Gestor') Empezar a compartir
  footer
    ul      
      li
        a(href='Ayuda') Ayuda
      li
        a(href='Contactanos') Contáctanos
      li  
        a(href='AcercaDe') Acerca de Sultral
    ul
      li
        i.fas.fa-at
        |  InfoSultral@gmail.com
      li
        i.far.fa-copyright
        |  2018 Sultral
