doctype html
html
  head
    title= title
    link(href='https://fonts.googleapis.com/css?family=Poppins', rel='stylesheet')
    meta(charset='utf-8')
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
  body
    header
      a(href='/', class="logo-nav")
        img(src="/images/logo_letrasN.png", alt="Sultral")
      div
        nav
          ul
            if (sesion)
              li.welcome
                p ¡Un placer tenerte de vuelta #{user}!
              li
                a(href='Gestor') Entrar a Sultral
              li
                a(href='AcercaDe') Acerca De
              li
                a(href='Contactanos') Contactanos
            else
              li
                a(href='LogIn') Iniciar Sesión
              li
                a(href='Registrar') Crear Cuenta
              li
                a(href='AcercaDe') Acerca De
              li
                a(href='Contactanos') Contactanos
    block content
