extends layout

block content
  section.error-nf
    img(src="/images/not-found.png", alt="Not Found", class="logo-main")
    h3(style='font-size: 2.5rem;') ¡Ups, al parecer lo que estas buscando no existe!
    a.custom-btn.btn-rojo(href='/') Regresar al Inicio
