extends layout

block content
    section.container
      .register-box
        form.formulario-registro(method='POST')
          h2 CREA UNA CUENTA
          p
            | Al crear una cuenta podrás disfrutar de todas las funcionalidades que ofrece Sultral mientras mantienes tus archivos seguros, organizados y accesibles desde cualquier computadora.
          label(for='usuario') Usuario:
          input#usuario.input.r-input(type='text',name='usuario', placeholder='Usuario')
          label(for='correo') Correo:
          input#correo.input.r-input(type='email',name='correo', placeholder='sultral@example.com')
          label(for='contraseña') Contraseña:
          input#contrasenia.input.r-input(type='password',name='contrasenia', placeholder='***********')
          label(for='confirm') Confirmar contraseña:
          input#confirm.input.r-input(type='password',name='confirm', placeholder='***********')
          input.btn-registro.btn-azul(type='submit', value='¡Regístrate ya!')