:root{
	box-sizing: border-box;
	font-size: calc(0.05em + 1vw);
}

*, ::before, ::after{
	box-sizing: inherit;
}

body{
	margin: 0;
	background-color: rgb(255, 255, 255);
	font-family: 'Poppins';
}

.app-container{
	display: grid;
	grid-template-rows: 1fr 13fr;
	justify-content: center;
	width: 100%;
	height: 1vh;
}

.app-header{
	display: grid;
	grid-template-columns: 1fr 5fr;
	width: 100%;
	padding: 0;
	justify-items: center;
	align-items: center;
	background-color: #333333;
	height: 5vw;
}

.logo-app{
	margin: 0 auto;
	text-align: center;
	background-color: #ffffff;
	width: 90%;
	height: 80%;
	display: flex;
	align-items: center;
	border-radius: 0 0 0.5em 0.5em;
	box-shadow: 1px 1px 5px #000000;
	align-self: start;
	transition: 0.3s all;
}
.logo-app:hover{
	box-shadow: 1px 1px 10px #000000;
	height: 85%;
}

.logo-app > a >img{
	width: 30%;
	transition: 0.2s all;
}

.search-form{
	justify-self: left;
	width: 100%;
	margin: 0 2em;
}

.search-form > input[type="text"]{
	width: 30%;
	padding: 0.5em 1em;
	font-size: 0.75rem;
	border-radius: 2em;
	border: none;
	outline: none;
	transition: 0.3s all;
	background-color: #555555;
	color: #c3dbf9;
	
}

.search-form > input[type="text"]::placeholder{
	color: #c3dbf9;
}

.search-form > input[type="text"]:focus{
	width: 80%;
}

.app-body{
	display: grid;
	grid-template-columns: 2fr 12fr;
	background-color: #ffffff;
	height: calc(100vh - 5.3vw);
}

.app-menu > ul > li > a{
	text-decoration: none;
	color: #555555;
	font-size: 1em;
	background-color: #efefef;
	border-radius: 0 0.3em 0.3em 0;
	width: 90%;
	height: 100%;
	padding: 0.7em;
	margin: 0;
	display: flex;
	align-items: center;
	transition: 0.2s all;
}

.app-menu > ul > li > a:hover{

	background-color: #8a8a8a;
	color: #ffffff;
}

.app-menu > ul > li{
	list-style: none;
	height: 3em;
	display: flex;
	align-items: center; 
	margin: 1.5em 0;
	text-align: center;
}

.app-menu > ul{
	padding: 0;
	width: 100%;
}

.menu{
	background-color: #fbfbfb;

}

.selected-menu{
	background-color: #8a8a8a !important;
	color: #ffffff !important;
	width: 100% !important;
	padding-left: 2em !important;
}

.upload-btn{
	border: none;
	cursor: pointer;
	border-radius: 0 5px 5px 0;
	transition: 0.2s;
	width: 90%;
	padding: 0.8em;
	color: #fff;
	font-size: 1em;
	text-decoration: none;
	text-align: center;
	background-color: #3babdf;
}

.upload-btn:hover{
	background-color: #238ebf;
	width: 100%;
}

.upload-container{
	width: 100%;
	padding: 2.5em 0 1em;
}

.application{
	width: 100%;
	height: 100%;
	display: grid;
}

.route{
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0.5em 2em;
	background-color: #eeeeee;
	height: 2.5vw;
	font-size: 0.8em;
	cursor: pointer;
}

.route > p{
	margin: 0;
}

.route > p > a{
	color:  #555555;
	transition: 0.3s all;
}

.route > p > a:hover{
	color:  #8d8d8d;
}


.document-viewer{
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-gap: 0.75em;
	padding: 1.25em;
	align-items: center;
	justify-content: center;
	justify-items: center;
	overflow-y: scroll;
	height: calc(calc(100vh - 5vw) - 2.5vw);
}


.element{
	background-color: #dedede;
	border-radius: 5px;
	width: 12em;
	height: 12em;
	display: grid;
	grid-template-rows: 1fr 7fr 1fr;
}

.name{
	width: 100%;
	text-align: center;
	font-size: 0.8em;
	margin: 1rem 0 0;
	font-weight: 700;
	color: #444;
}

.nav-button{
	display: flex;
	align-items: center;
	justify-content: center;
	color: #f7f7f7;
	font-size: 5.5em;
	text-align: center;
	border: none;
	background-color: transparent;
	outline: none;
	cursor: pointer;
	transition: 0.3s all;
	text-decoration: none;
}

.options{
	display: flex;
	justify-content: space-around;
	background-color: #eeeeee;
	border-radius: 0 0 5px 5px;
	padding: 0.5em;
	width: 100%;
}

.option{
	border: none;
	cursor: pointer;
	font-size: 1.2em;
	background-color: transparent;
	border-radius: 3px; 
	color: #444;
	transition: 0.3s all;
	outline: none;
}

.option:hover{
	color: #888;
}

.option:focus{
	color: #000000;
}

.red{
	color: #e00;
}

.orange{
	color: #f50;
}

.green{
	color: #0a0;
}

.blue{
	color: #3898ff;
}

.yellow{
	color:#ffef77;
}

.grey{
	color: #adadad;
}

.white{
	color: #ffffff;
}

.red:hover{
	color: #c00;
}

.orange:hover{
	color: #d40;
}

.green:hover{
	color: #070;
}

.blue:hover{
	color: #227ad8;
}

.yellow:hover{
	color: #ffea4f;
}

.grey:hover{
	color: #a0a0a0;
}

.white:hover{
	color: #f2f2f2;
}

.new-folder{
	background-color: transparent;
	border-radius: 5px;
	width: 12em;
	height: 12em;
	display: grid;
	grid-template-rows: 7fr 3fr;
	border: dashed 0.3em #adadad;
	align-items: center;
	justify-items: center;
	cursor: pointer;
	color: #adadad;
	transition: 0.3s all;
}


.icon-folder{
	font-size: 6em;
	align-self: end;
}

.new-f-text{
	font-weight: 700;
	margin-top: 0;
}

.new-folder:hover{
	color: #838383;
	border-color: #838383;
	background-color: #efefef; 
}


/* Pag Configuracion*/
.config-body{
	overflow-y: hidden;
	
}
.config-header{
	padding: 0 6em;
	color:#000000;
	padding: 1em 0;
	background-color: #EEEEEE; 
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	box-shadow: 0 4px 2px -2px #969696;
	top:0;
	left: 0;
	
	width: 100%;

}
.config-header a{
	
	text-decoration: none;
	color:#000000;
	
}
.config-header a:hover{
	color:blue;
}
.config-container{
	display: grid;
	grid-template-columns: repeat(2, 15% 85%);
	height: 1vh;

}
.config-aside{
	margin-top: 0.5em;
	padding-top: 2em;
	border-right: 1px solid #EEEEEE;
	height: 200%;
	
}
.config-aside nav ul{

	text-align: center;
	list-style: none;
}
.config-aside nav ul li{
	margin-top: 1.5em; 

}
.config-aside nav ul li a{

	text-decoration: none;
	color:#000000;
}
.config-aside nav ul li a:hover{
	transition: 0.3s all;
	
	color: blue;
}
.config-section{
	padding: 1em;
	align-items: center;
    overflow-y: hidden;
    height: 100%;
  
	
}
.config-section div{
	align-items: center;
	
}
.config-section div h3{
	padding-top:0.3em;
	
}
.config-section div label{
	margin-top: 1em;

}
.config-section div input, .txtForm {
	width: 40%;
	
	box-shadow: #AFAFAF 1px 1px 5px;
	height: 40px;
	 border-radius: 3px;
	 border: none;
	 margin-top:2em;
	 padding-left: 1%;

}
.config-section div input[type=submit]:hover{
	background-color: #444;
	color: white;
	transition: all 0.3s;

}
.config-section form{
	width: 100%;
	align-items: center;
}

#config-detalle{
	display: flex;
	flex-direction: column;
	
}
#config-perfil{
	display: flex;
	flex-direction: column;
	
}

#config-privacidad{
	display: flex;
	flex-direction: column;
	

}
#formulario-ActualizarPerfil{
	display:flex;
	flex-direction: column;
	
}
#formulario-ActualizarContrasenia{
	display:flex;
	flex-direction: column;
	
}

.menu-header{
	display: flex;
	justify-content: flex-end;
	list-style: none;
}

.menu-header li{
	padding: 0 1em;
}

.menu-header li a{
	text-decoration: none;
	color: #fff;
	
}

.menu-header li a:hover{
	transition: all 0.3s ease-out;
	text-decoration: underline;
	text-decoration-color: #c3dbf9;
	color: #c3dbf9;
}

.menu-opciones{
	display: flex;
	align-items: center;
	width: 100%;
}

.menu-opciones nav{
	width: 100%;
}

/* Modal */
.cerrar{
  position: absolute;
  top: 0;
  right: 0;
  width: 35px;
  height: 30px;
  background: rgb(117, 117, 117);
  color: #fff;
  cursor: pointer;
  border: 0;
  border-radius: 0 5px 0 5px;
  transition: 0.4s All;
}

.cerrar:hover{
	background-color: rgb(65, 65, 65);
	font-weight: 900;
}

.mascara{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(52, 73, 94, 0.8);
  z-index: 50;
  visibility: hidden;
  
  opacity: 0;
  
  transition: 0.7s;
}

.modal{
  position: fixed;
  top: calc(50% - 3em);
  left: 42%;
  width: 30%;
  height: 150px;
  margin-left: -150px;
  margin-top: -75px;
  background: #bdc3c7;
  z-index: 100;
  visibility: hidden;
  border-radius: 5px;
  font-size: 1em;
  
  opacity: 0;
  
  transition: 0.5s ease-out;
  
  transform: translateY(45px);
  
  display: grid;
}

.activo{
  visibility: visible;
  opacity: 1;
}

.activo + .modal{
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

/* Modal Archivos */
.cerrarA{
	position: absolute;
	top: 0;
	right: 0;
	width: 35px;
	height: 30px;
	background: rgb(117, 117, 117);
	color: #fff;
	cursor: pointer;
	border: 0;
	border-radius: 0 5px 0 5px;
	transition: 0.4s All;
  }
  
  .cerrarA:hover{
	  background-color: rgb(65, 65, 65);
	  font-weight: 900;
  }
  
  .mascaraA{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(52, 73, 94, 0.8);
	z-index: 50;
	visibility: hidden;
	
	opacity: 0;
	
	transition: 0.7s;
  }
  
  .modalA{
	position: fixed;
	top: calc(50% - 3em);
	left: 42%;
	width: 30%;
	height: 150px;
	margin-left: -150px;
	margin-top: -75px;
	background: #bdc3c7;
	z-index: 100;
	visibility: hidden;
	border-radius: 5px;
	font-size: 1em;
	
	opacity: 0;
	
	transition: 0.5s ease-out;
	
	transform: translateY(45px);
	
	display: grid;
  }
  
  .activoA{
	visibility: visible;
	opacity: 1;
  }
  
  .activoA + .modalA{
	visibility: visible;
	opacity: 1;
	transform: translateY(0);
  }

.centrado{
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 2em 1em;
}

.txtForm{
	margin: 0 1em;
	font-size: 1em;
	height: 2em;
}

.submit-file{
	border-radius: 2em;
	font-size: 1em;
	background-color: #3898ff;
	color: #fff;
	transition: 0.3s All;
	border: none;
	cursor: pointer;
	width: 2em;
	height: 2em;
	padding: 0.5em;
	margin-right: 0.2em;
}

.submit-file:hover{
	background-color: #227ad8;
}

.error{
	margin-top:1em; 
	font-size: 0.7em;
	color: #ff0000;
}
.aceptado{
	margin-top:1em; 
	font-size: 0.7em;
	color: #0a0;
}

.inputfile{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.lblupload{
	color: #fff;
	background-color: #227ad8;
	padding: 0.7em;
	border-radius: 5px;
	cursor: pointer;
	margin-right: 2em;
}